  <header>
        <h1>Welcome to Beat Route</h1>
        <p>Come discover local music around Columbus, Ohio</p>
        <p>Connect with your fellow music lovers and neighbors and share your experiences all over the city!</p>
    </header>

    <section class="section">
        <h2>Discover shows and venues near you!</h2>
        <p>You can search here by Venue, Genre, or Date!</p>
        
    </section>