 <div class="profile">
        <h2>Your Info</h2>
        <h1 id="user_name"></h1>
        <h1 id="first_name"></h1>
        <h1 id="last_name"></h1>
        <h1 id="email"></h1>

        <h2>Blog Entries</h2>
        <ul id="blog-list">
            <!-- Blog entries will be added dynamically here -->
        </ul>
    </div>