 <div action="/profile" class="profile">
    <section id="profile-info" class="profile-container">
    </section>

    <section action="/userPosts" id="user-posts">
        <h2>Blog Entries</h2>
        <ul id="blog-list">
            <!-- Blog entries will be added dynamically here -->
        </ul>
    </section>
</div>
<script src="../public/js/profile.js"></script>